html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
input{
  color: black;
  background: none;
  font-family: 'Cutive Mono', monospace;
  font-size: 0.86em;
  width: 300px;
  display:flex;
  
  margin-left: 10px;
  text-align: center;
  justify-content:center;
  border:solid;
  border-radius: 1000cm;
  border-color:rgb(0, 0, 0);
  transform: translate(-50%,-50%);

}
